<!-- <div class ="cloud"> -->

<div class="flex-container">

    <div class="item4">
        <div class="col-sm">
            <ul>
                <div class="">
                    <h1 style="font-size: 20pt;font-weight: bold;color: #d2f3d4;">EDUCATION</h1>
                    <br>
                    <ul>
                        <span style="color: white;font-size: 18pt">
                            <mat-icon>library_books</mat-icon>BSc. in Management
                            Information Systems,2021
                        </span><br>
                        <span style="color: #bbddbf;font-size: 16pt">
                            <mat-icon>school</mat-icon>Ashesi University,Ghana
                        </span>

                        <br><br><br>
                        <span style="color: white;font-size: 17pt">
                            <mat-icon>library_books</mat-icon>A'Level Certificate in
                            Mathematics Economics and Computer Science,2015
                        </span>
                        <br>
                        <span style="color: #bbddbf; font-size: 16pt">
                            <mat-icon>school</mat-icon>Liquidnet Family High School at The Agahozo-Shalom Youth
                            Village,Rwanda
                        </span>
                    </ul>
                    <br><br>
                </div>
            </ul>
        </div>
    </div>

<hr>

    <div class="item5">
        <div class="col-sm">
            <ul>
                <div class="">
                    <h1 style="font-size: 20pt;font-weight: bold;color: #d2f3d4;">TECH STACK</h1>
                    <br>
                    <ul>
                        <span style="color: white;font-size: 18pt">
                            <mat-icon> notes</mat-icon>Programming Languages
                        </span>
                        <br>
                        <ul>
                            <div class="grid-container">

                                <div class="item4">Java<img loading=lazy src="../assets/images/java.png" style="width:50px;"></div>
                                <div class="item5"> Python<img loading=lazy src="../assets/images/py.png" style="width:50px;"></div>
                                <div class="item6">C Sharp<img loading=lazy src="../assets/images/csharp.png" style="width:50px;">
                                </div>

                            </div>
                        </ul>
                        <br>
                        <span style="color: white;font-size: 18pt">
                            <mat-icon> notes</mat-icon>Frameworks
                        </span><br>
                        <ul>
                            <div class="grid-container">

                                <div class="item4"><img loading=lazy src="../assets/images/ang.png" style="width:50px;"> Angular
                                </div>
                                <div class="item5"><img loading=lazy src="../assets/images/spring.png" style="width:50px;">
                                    SpringBoot
                                </div>
                                <div class="item6"><img loading=lazy src="../assets/images/net.png" style="width:50px;"> .NET</div>

                            </div>
                        </ul>
                        <br>
                        <span style="color: white;font-size: 18pt">
                            <mat-icon> notes</mat-icon>Database & Version Control
                        </span><br>
                        <ul>
                            <div class="grid-container">

                                <div class="item4"><img loading=lazy src="../assets/images/mysql.png" style="width:50px;"> MySQL
                                </div>
                                <div class="item5"><img loading=lazy src="../assets/images/oracle.png" style="width:50px;"> Oracle
                                </div>
                                <div class="item6"><img loading=lazy src="../assets/images/git.png" style="width:50px;"> GitHub</div>
                                <div class="item7"><img loading=lazy src="../assets/images/glab.png" style="width:50px;"> GitLab
                                </div>

                            </div>
                        </ul>
                    </ul>
                </div>
            </ul>

        </div>

    </div>

</div>



<!-- </div> -->