<mat-toolbar-row  style="background-color:#0c0c14;height:15%;color:white;display: flex;
  justify-content: center;position: relative;">

<a mat-button href="https://www.linkedin.com/in/carine-sebarinda-iradukunda/" target="_blank"><img src="../assets/images/link.png" style="width:50px;position: absolute;"></a>
<a mat-button href="https://twitter.com/iraduku_k" target="_blank"><img src="../assets/images/twi.png" style="width:50px;position: absolute;"></a>
<a mat-button href="https://github.com/CarineIradukunda" target="_blank"><img src="../assets/images/git.png" style="width:50px;position: absolute;"></a>

</mat-toolbar-row>