<div class="grid-container">

    <div class="item1">
        <div class="col-sm">
            <div class="thumbnail" style="margin: 20px;">
                <a href="https://carineiradukunda.netlify.app/" target="_blank">
                    <img class="imgs" src="../assets/images/pro.png" alt="portfolio picture"
                        style="position: relative"></a>
                <p></p>
                <div class="caption">
                    <h1 style="font-size: 18pt;font-weight: bold;color: #ffffff;">My Portfolio</h1>
                    <p>This is my portfolio that I made for everyone to be able to see my experience, education and
                        skills as a developer.
                    </p>

                    <br>

                    <mat-toolbar-row>
                        <mat-placeholder class="placeh">
                            Angular
                        </mat-placeholder>
                        <mat-placeholder class="placeh">
                            Html
                        </mat-placeholder>
                        <mat-placeholder class="placeh">
                            CSS
                        </mat-placeholder>
                    </mat-toolbar-row>

                    <br>
                    <a mat-button href="https://carineiradukunda.netlify.app/" target="_blank">Check
                        it out</a>
                </div>

            </div>
        </div>
    </div>

    <div class="item2">
        <div class="col-sm">
            <div class="thumbnail" style="margin: 20px;">
                <a href="https://carineiradukunda.000webhostapp.com/" target="_blank">
                    <img class="imgs" src="../assets/images/rev.png" alt="Revise Me" style="height:280px;"></a>
                <p></p>

                <div class="caption">
                    <h1 style="font-size: 18pt;font-weight: bold;color: #ffffff;">Revise-Me</h1>
                    <p>An e-learning platform that allows students to create accounts and log in, browse through
                        courses and
                        assess
                        themselves. It displays the right answers to the wrong one you did and displays the score.
                    </p>

                    <br>


                    <mat-toolbar-row>
                        <mat-placeholder class="placeh" class="placeh">
                            PHP
                        </mat-placeholder>
                        <mat-placeholder class="placeh">
                            Html
                        </mat-placeholder>
                        <mat-placeholder class="placeh">
                            JS
                        </mat-placeholder>
                        <mat-placeholder class="placeh">
                            CSS
                        </mat-placeholder>
                        <mat-placeholder class="placeh">
                            MySQL
                        </mat-placeholder>
                    </mat-toolbar-row>

                    <br>
                    <a mat-button href="https://carineiradukunda.000webhostapp.com/" target="_blank">Check
                        it out</a>
                </div>

            </div>
        </div>
    </div>


    <div class="item3">
        <div class="col-sm">
            <div class="thumbnail" style="margin: 10px;">
                <a href="" target="_blank">
                    <img class="imgs" src="../assets/images/user.JPG" alt="portfolio picture"
                        style="height:300px;position: relative"></a>
                <p></p>
                <div class="caption">
                    <h1 style="font-size: 18pt;font-weight: bold;color: #ffffff;">User Management Sytem</h1>
                    <p>A user management system that allows to create, update, and delete a user.
                        It also allows to view a user accoring to categories.
                    </p>

                    <br>
                    <mat-toolbar-row>
                        <mat-placeholder class="placeh">
                            Angular
                        </mat-placeholder>
                        <mat-placeholder class="placeh">
                            Html
                        </mat-placeholder>
                        <mat-placeholder class="placeh">
                            CSS
                        </mat-placeholder>
                        <mat-placeholder class="placeh">
                            Java
                        </mat-placeholder>
                        <mat-placeholder class="placeh">
                            MySQL
                        </mat-placeholder>
                    </mat-toolbar-row>

                    <br>
                    <a mat-button target="_blank">Coming Soon!</a>
                </div>

            </div>
        </div>
    </div>


    <div class="item4">
        <div class="col-sm">
            <div class="thumbnail" style="margin: 20px;">
                <a target="_blank">
                    <img class="imgs" src="../assets/images/mvc.png" alt="mvc picture" style="height:280px;"></a>
                <p></p>
                <div class="caption">
                    <h1 style="font-size: 18pt;font-weight: bold;color: #ffffff;">E-Commerce Web App</h1>
                    <p>The Web-App will allow users to select items, view items and add to cart.
                    </p>
                    <br>
                    <br>

                    <mat-toolbar-row>
                        <mat-placeholder class="placeh">
                            .Net
                        </mat-placeholder>
                        <mat-placeholder class="placeh">
                            Html
                        </mat-placeholder>
                        <mat-placeholder class="placeh">
                            CSS
                        </mat-placeholder>
                        <mat-placeholder class="placeh">
                            Oracle
                        </mat-placeholder>
                    </mat-toolbar-row>

                    <br>
                    <a mat-button  target="_blank">Coming Soon!</a>
                </div>

            </div>

        </div>

    </div>

</div>