
<!-- <mat-card id="mtc" style="background-color: #16181b;margin-left: 10%;margin-right: 2%;margin-bottom: 5%;margin-top:5%;"> -->
<div style="margin-left: 5%;margin-right: 0%;margin-bottom: 0%;margin-top:5%; ">
<br>

    <div ><img loading=lazy
            style="vertical-align:middle;width:20%;border-radius: 50%;border-color: rgb(255, 255, 255);"
            src="../assets/images/pro1.png" alt="profile picture" id="pro">
    </div>

    <div class="cloud" >
<br>
            <!-- <span class="line-1 anim-typewriter" style="font-family: 'Gill Sans', sans-serif;font-size: 25pt;font-weight: bolder;" >HELLO!</span><br><br><br>
            -->
                <h1 style="font-family: 'Gill Sans', sans-serif;font-size: 25pt;font-weight: bolder; ">Hi!     I'm Carine, </h1>
                <br>
                <div class="container">
                    <h1 class="typed-out" style="font-family: 'Gill Sans', sans-serif;font-size: 20pt;">I'm a Software Developer . . .</h1>
                    
                </div>
<br>
                
        <!-- <span style="font-family: 'Gill Sans', sans-serif;font-size: 20pt;">
            I am Carine Sebarinda Iradukunda</span><br>
        <p></p> -->
        <div style="font-family: 'Gill Sans', sans-serif;font-size: 13pt;">
        
            <p>I am based in Kigali, Rwanda. <p>With 2 years of experience;I am Skilled in solving problems with HTML,CSS,
           Javascript, Angular, SQL, Oracle, Spring<br> Framework and .NET! Focused on being a valuable part of any team I am on and believe
        in the team rising together. </p><br>
        </div> 

            <div class="example-button-row" style="text-align: center;">
                <a mat-button href="mailto: iradukundacarine14@gmail.com" routerLinkActive="active">EMAIL ME <mat-icon>
                        email</mat-icon></a>
                <a mat-button routerLinkActive="active"(click)="downloadMyFile()">
                    RESUME
                    <mat-icon>cloud_download</mat-icon>
                </a>
            </div>
   
    </div>

</div>

 



<!-- </mat-card> -->



<marquee behavior="alternate"><span style="font-style: italic;font-size: 17pt">"Whatever you dream you can do, begin it. Boldness has genius,
    power and magic in it.Begin it now." – Johann Wolfgang von
    Goethe​.</span></marquee>
<br>
    <!-- </div> -->